/* GENERAL STYLES  */
:root{
    /* FONTS */
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Open Sans', sans-serif;

    --heading-font-weight-regular: 400;
    --heading-font-weight-bold: 700;
    --body-font-weight-regular: 400;
    /* COLOR */
    --primary: hsl(257, 40%, 49%);
    --primary-shadow: hsl(257, 40%, 40%);
    --cta-color:hsl(225, 44%, 60%);
    --shadow: 0px 2px 4px 3px var(--primary-shadow);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight-regular);
    color: white;
    text-align: center;
    font-size: 16px;
}
li {
    list-style: none;
    list-style-type: none;
}

/* TYPOGRAPHY */
.heading {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-regular);

}
.heading-bold{
    font-weight: var(--heading-font-weight-bold);
}


.hero-section {
    min-height: 100vh;
    width: 100%;
    background: var(--primary);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.container{
    min-height: 100vh;
    max-width: 800px;
    padding: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-self: start;
    width: 120px;
}
.content{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around ;
}
.visual {
    margin: 0 auto;
    max-width: 295px;
    min-height: 212px;
    background-image: url("./images/illustration-mockups.svg");
    background-size: 100%;
    background-position-y: top;
    background-repeat: no-repeat;
    background-position-x: center;
}

.copy{
    display: flex;
    flex-flow: column;
    align-items:center;
}
.title {
    font-size: 24px;
    margin-bottom: 25px;
}
.message{
    margin-bottom: 25px;
}
.cta{
    position: absoute;
    z-index: 2;

    width: 200px;
    height: 40px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: var(--primary);
    font-size: 12px;
    transition: all 0.5s ease-out;
    transition: transform 0.5 ease-out;
}
.cta:hover{
    animation: enable 0.3s linear;
    cursor: pointer;
    color: white;
    background-color: var(--cta-color);
}
@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.social{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}
.social-icon{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    margin: 0 8px;
    transition: background-color 0.5s ease-out;
}
.social-icon:hover{
    background-color: var(--primary-shadow);

}
.social-icon img {
    height: 12px;
}


/* FOOTER ATTRIBUTION */
footer {
    padding: 16px;
    color: var(--primary)
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* RESPONSIVE DESIGN TABLET */
@media only screen and (min-width: 900px){
    .logo{
        width: 200px;
    }
    .visual{
        max-width: unset;
        min-height: unset;
        width: 700px;
        height: 500px;
    }
    .title{
        font-size: 44px;
        margin-bottom: 38px;
    }
    .message{
        font-size: 18px;
        margin-bottom: 28px;
    }
    .cta{
        height: 60px;
        border-radius: 30px;
        font-size: 15px;
    }
}
@media only screen and (min-width: 1350px){
    body{
        text-align: left;
    }
    .hero-section{
        background-image: url("./images/bg-desktop.svg");
        background-size: 100% 100%;
    }
    .container{
        max-width: 1280px; 
        padding: 65px 0 40px 0;
    }
    .content{
        flex-flow: row;
    }
    .visual-container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-top: 60px;
    }
    .copy{
        margin-left: 60px;
        align-items: flex-start;
        justify-content: center;
    }
    .social{
        display: flex;
        align-self: flex-end;
    }
    .social-icon:last-child{
        margin-right: 0;
    }



}